html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000");
}

h1 {
    font-family: "Montserrat";
    font-size: 50px;
}

#banner_img{
    margin: 0;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 50% 0%;
    z-index: 1;
}

.banner_txt {
    font-family: "Montserrat";
    color: white;
    font-size: 50px;
    margin-right: 900px;
    margin-left: 50px;
    position: relative;
    margin-top: -380px;
    font-weight: 800;
}

.explore h1{
    margin-top: 140px;
    position: relative;
    text-align: center;
}

.button-24 {
  margin-top: 50px;
  text-decoration: none;
  margin-left: 50px;
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 12px 14px;
  padding-top: 15px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: white;
}

.button-24:active {
  opacity: .5;
}

.explore img {
    width: 100px;
    height: 100px;
    margin-left: 127px;
    margin-top: 30px;
}

.icon_txt {
    display: flex;
    
}

.icon_txt p {
    margin-left: 127px;
    font-family: "Montserrat";
}

#g-icon-txt {
    position:absolute;
    margin-left: 380px;
}

#m-icon-txt {
    position:absolute;
    margin-left: 620px;
}

#r-icon-txt {
    position:absolute;
    margin-left: 830px;
}

#h-icon-txt {
    position:absolute;
    margin-left: 1070px;
}

#c-icon-txt {
    position:absolute;
    margin-left: 1310px;
}

#img1 {
    animation: fadein 2s;
    transition: transform .2s;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover,
#img5:hover, #img6:hover, .review_img:hover{
    transform: scale(1.4);
}

#img2 {
    animation: fadein 3s;
    transition: transform .2s;
}

#img3 {
    animation: fadein 4s;
    transition: transform .2s;
}

#img4 {
    animation: fadein 5s;
    transition: transform .2s;
}

#img5 {
    animation: fadein 6s;
    transition: transform .2s;
}
#img6 {
    animation: fadein 7s;
    transition: transform .2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.desc_img {
    filter: brightness(50%);
    width: 100%;
    margin-top: 50px;
    height: 750px;
    object-fit: cover;
    object-position: 50% 0%;
    z-index: 1;
}

.description h1 {
    color: white;
    font-family: "Montserrat";
    margin-left: 30%;
    position: absolute;
    margin-top: -720px;
}

.description {
    margin-right: 0px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

#img11 {
    margin-top: -600px;
    margin-left: 400px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img12 {
    margin-top: -400px;
    margin-left: 400px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img13 {
    margin-top: -200px;
    margin-left: 400px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img14 {
    margin-top: -600px;
    margin-left: 900px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img15 {
    margin-top: -400px;
    margin-left: 900px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img15 {
    margin-top: -400px;
    margin-left: 900px;
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    filter: invert(1);
}

#img16 {
     height: 100px;
     width: 100px;
     margin-left: 900px;
     margin-top: -400px;
     margin-bottom: 120px;
     filter: invert(1);
     position: relative;
}

#txt11 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -570px;
    margin-left: 550px;
    color: white;
    font-size: 20px;
}

#txt12 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -390px;
    margin-left: 550px;
    color: white;
    font-size: 20px;
}

#txt13 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -185px;
    margin-left: 550px;
    color: white;
    font-size: 20px;
}

#txt14 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -570px;
    margin-left: 1050px;
    color: white;
    font-size: 20px;
}

#txt15 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -390px;
    margin-left: 1050px;
    color: white;
    font-size: 20px;
}

#txt16 {
    font-family: "Montserrat";
    position: absolute;
    margin-top: -185px;
    margin-left: 1050px;
    color: white;
    font-size: 20px;
}
.container {
    width: 890px;
    height: 600px;
    display: flex;
    margin-left: 21%;
    justify-content: center;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    height: 100%;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

.gallery_t h1 {
    text-align: center;
    margin-top: -20px;
}

.mapouter {
    margin-left: 54%;
}

.map {
    background-color: rgb(31, 31, 31);
    height: 750px;
}
.map h1{
    text-align: center;
    margin-top: 100px;
    color: white;
}

.loc_list {
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-left: 100px;
    position: absolute;
    line-height: 65px;
}

.loc_list li:hover {
    cursor: pointer;
}

#clock {
    filter: invert(1);
    height: 100px;
    width: 100px;
    margin-left: 550px;
    margin-top: 100px;
    position: absolute;
}

#test {
    position: absolute;
    margin-left: 570px;
    margin-top: 220px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
}

#review {
    margin-top: 30px;
}

.outtaten {
    font-family: "Montserrat";
    font-size: 40px;
    margin-top: -340px;
    text-align: center;
    opacity: 0;
    transform: translateY(350px);
    transition: 2s all ease;
}

.outtaten.active {
    opacity:1;
    transform: translateY(0);
}

#value {
    font-family: 'Azeret Mono', monospace;
    font-size: 350px;
    text-align: center;
    margin-top: -300px;
    transform: translateY(350px);
    opacity: 0;
    transition: 2s all ease;
}

#value.active {
    transform: translateY(0px);
    opacity:1;
}

#clock{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.review_img {
    margin-left: 43%;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    transition: transform .2s;
    cursor: pointer;
}

.review_img.active {
    opacity:0;
}

.history h1{
    margin-top: -780px;
    color:white;
    z-index: 100;
}

#tin {
    width: 100%;
    margin-top: 220px;
    z-index: 1;
    height: 800px;
}

#par1 {
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-left: 100px;
    position: absolute;
    margin-right: 70%;
    line-height: 50px;
}

#par2 {
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-left: 100px;
    position: absolute;
    margin-right: 40%;
    margin-left: 40%;
    line-height: 50px;
}

#par3 {
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-left: 100px;
    position: absolute;
    margin-right: 10%;
    margin-left: 70%;
    line-height: 50px;
}

.contact {
    margin-top: 680px;
    background-color: rgb(42, 42, 42);
    color: white;
    height: 200px;
    font-family: "Montserrat";
    font-size: 20px;
    padding: 20px;
}

