body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #787878;
  background-color: #fff;
  overflow-y: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  z-index: 2;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#background {

}

h1{
  font-weight: 600;
  color: #1c1c1c;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3.75rem;
}

h2 {
  font-weight: 600;
  color: #1c1c1c;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.btn {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  line-height: 1.625;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  padding: 1rem 3.125rem;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(149, 29, 29);
  border-color: rgb(149, 29, 29);
}

.btn:hover {
  color: rgb(149, 29, 29);
  background-color: #000000;
  border-color: #000000;
}

.title_description{
  font-size: 25px;
}

.full {
  height: 100vh;
}

.background {
  position: absolute;
}

.background img {
    position: static;
    max-width: 100%;
}

.full::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.full * {
  color: #fff;
}

.word_effect {
  font-size: 100px;
}